playwright
requests
beautifulsoup4
lxml
sentence_transformers
gradio 
pillow
pandas
numpy
matplotlib
pinecone
pinecone_text
tenacity
httpx
pinecone[grpc]
langchain_openai
langchain
fastapi[standard]
# requests
# uvicorn[standard]